* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: white;
}

a {
  text-decoration: none !important;
  color: white;
}

.navbar-scrolled {
  background-color: #e6dfd7 !important;
}

.cart-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url("../images/cart_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 55px;
}

header h2 {
  color: white;
  font-size: 2.3rem;
  font-weight: 600;
  margin: 0;
}

header h6 {
  color: white;
  font-size: 1rem;
  font-weight: 450;
  margin: 0;
}

/* Cart summary */

.summary {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: start;
  position: sticky;
  top: 20px; /* Adjust this value to your needs */
  z-index: 100; /* Ensures it stays above other content */
}

.card {
  position: sticky;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f6f6f6;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.fs-18 {
  font-size: 18px;
  color: black;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-txt {
  color: #ffffff;
  font-size: 16px;
  padding: 15px 35px;
  background-color: #222222;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 0px;
  letter-spacing: 0px;
  text-align: center;
  line-height: 1;
  transition: all 0.3s ease-in-out 0s;
}

.btn-txt:hover {
  background-color: #555555;
  color: #ffffff;
}

.sub-total {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.sub-total p {
  font-size: 14px;
  font-weight: 500;
}

.s-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disc-ship {
  font-size: 15px;
  font-weight: 600;
}

.disc-num,
.shipping-num {
  font-size: 15px;
}

.total-txt {
  font-size: 18px;
  font-weight: 600;
}

.total-num {
  font-size: 16px;
  font-weight: 600;
}

.checkout-btn {
  margin-top: 30px;
}

/* Products summary */

.shipping-bar {
  position: relative;
  padding-bottom: 60px;
  width: 50%;
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progress {
  height: 8px;
  position: relative;
}

.progress-bar {
  background-color: #475476;
}

.progress-circle {
  content: "\e9e8";
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  background-color: #475476; /* Light orange color */
  height: 30px; /* Adjust the circle size as needed */
  width: 30px;
  border-radius: 50%;
  margin-left: -15px; /* Adjust based on the circle's size */
  transition: 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

.shipping-text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

/* products table */

.cart-body-item th {
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
}

th:first-child,
td:first-child {
  padding-inline-start: 0;
}

th:last-child,
td:last-child {
  padding-inline-end: 0;
  text-align: end;
}

.item-img {
  padding: 2px;
  background-color: #fff;
  border: 1px solid #0000001a;
}

.heading {
  font-weight: 600;
}

.trash-color {
  color: #222222;
}

.trash-color:hover {
  color: #555555;
}

/* quantity  */

.qty {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 10%);
  border-radius: 0;
  width: 110px;
}

.qty .count {
  color: #636363;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding: 0 2px;
  min-width: 50px;
  text-align: center;
  border: none transparent;
}

.qty .plus,
.qty .minus {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222222f0;
  width: 30px;
  height: 100%;
  font: 17px Arial, sans-serif;
  transition-duration: 0.6s;
  outline: none;
  box-shadow: none;
}

.plus:hover,
.minus:hover {
  background-color: #e6dccf;
}

/*Prevent text selection*/
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input {
  border: 0;
  width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled {
  background-color: white;
}

/* End Quantity */

/* Discount code */

.discount {
  padding: 10px 0;
  gap: 15px;
}

.discount-code {
  display: flex;
  align-items: center;
  position: relative;
  width: max-content;
  overflow: hidden;
}

.discount-txt {
  width: 50%;
  border: solid 1px #ccc;
  padding: 10px 20px;
  padding-inline-start: 45px;
  min-width: 300px;
}

::placeholder {
  color: #29282899;
  font-weight: 500;
  font-size: 15px;
  font-weight: 500;
}

.discount-txt::placeholder,
textarea::placeholder {
  color: #29282899;
  font-weight: 500;
  font-size: 15px;
  font-weight: 600;
}

.gift-icon {
  font-size: 17px;
  color: #29282889;
  transform: translate3d(0, -50%, 0);
  position: absolute;
  top: 50%;
  display: block;
  left: 17px;
}

.discount-icon {
  font-size: 22px;
}

.apply {
  padding: 5px 20px 6px 20px;
  background-color: #222222;
  text-align: center;
  color: white;
  font-weight: 600;

  font-size: 18px;
  cursor: pointer;
  position: absolute;
  border: none;
  border-radius: 0;
  inset-inline-end: 0;
  width: 48px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out 0s;
}

/* Notes sec */

.h-note {
  font-size: 16px;
  margin: 13px 0 21px 0;
}

textarea {
  color: #6c6b6b;
  display: block;
  resize: none;
  padding: 10px 20px;
  height: 120px;
  border: solid 1px rgb(214, 212, 212);
  border-radius: 0;
  width: 100%;
}

/* Featur */
.featur-section {
  border-bottom: rgba(34, 34, 34, 0.1) 1px solid;
}

.featur h6 {
  font-weight: 600;
  margin: 2rem 0 5px;
  color: var(--main-color);
}

.featur span {
  font-weight: 500;
  color: #636363;
}

.featur i:hover {
  color: #555555;
  cursor: pointer;
}
